.divisor{
    clear:both; 
    margin:80px;
}

.pie{
    background-color: darkgoldenrod;
}

.piet{
    color: black;
    font-style: bold;
    text-align: center;
}

.piep{
    color:white;
    font-style: bold;
    text-align: center;
}